* {
    margin: 0;
    padding: 0;
}

body {
    background: lightseagreen url("https://tinyurl.com/3wu4km7x") no-repeat fixed center;
    background-size: cover;
}

label {
    color: whitesmoke;
    font-size: 36px;
    text-shadow: 1px 1px 3px black;
}

.btn:hover {
    background-color: darkmagenta;
    transform: translateY(1px);
}

.container {
    margin: 25px auto;
    background-color: rgba(105, 105, 105, 0.432);
    height: 80%;
}

#resultsBox {
    height: 34em;
    background-color: rgba(250, 235, 215, 0.66);
    padding: 2%;
    margin: 15px auto;
    width: 90%;
    overflow: auto;
}

h3 {
    text-align: center;
}